.banner {
	width: 100%;
	height: 480px;
	background-size: auto 100%;
	background-image: url(../image/top_bg.jpg);
	background-position: center;
}

.banner_cen {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

.banner_cen_title {
	font-weight: bold;
	font-size: 50px;
	color: #333333;
	line-height: 50px;
	padding-top: 70px;
	display: flex;
	align-items: center;
}

.banner_cen_title_text {
	font-weight: 400;
	font-size: 24px;
	color: #333333;
	height: 34px;
	border-left: 1px solid #d2d2d2;
	margin-left: 20px;
	padding-left: 20px;
	line-height: 34px;
}

.banner_cen_title span {
	color: #336cfb;
	margin: 0 4px;
}

.banner_cen_text {
	font-size: 26px;
	line-height: 26px;
	color: #ffffff;
	padding-top: 40px;
}

.banner_cen_text1 {
	font-weight: 400;
	font-size: 16px;
	color: #333333;
}

.banner_nav_box {
	display: flex;
	align-items: center;
	margin-top: 50px;
}

.banenr_inp {
	width: 386px;
	height: 60px;
	background: #ffffff;
	border-radius: 8px 0 0 8px;
	border: none;
	box-sizing: border-box;
	padding: 0 20px;
	font-size: 18px;
	color: #666666;
    border: 1px solid #3b72fc;
}
.banenr_inp:focus {
	outline: none;
}

.banenr_btn {
	width: 175px;
	height: 60px;
	background: #3b72fc;
	border-radius: 0px 8px 8px 0px;
	text-align: center;
	line-height: 60px;
	font-weight: 400;
	font-size: 22px;
	color: #ffffff;
	cursor: pointer;
    margin-left: -3px;
}

/* .banner_cen_btn {
	width: 175px;
	height: 60px;
	background: #3b72fc;
	border-radius: 0px 8px 8px 0px;
	text-align: center;
	line-height: 60px;
	font-weight: 400;
	font-size: 22px;
	color: #ffffff;
	cursor: pointer;
	margin-top: 50px;
	letter-spacing: 6px;
} */

.ktbg_box_right_heads_box2 {
	display: flex;
	align-items: center;
}

.ktbg_box_right_heads_box_text2 {
	font-size: 12px;
	color: #333;
}
/* ------------------------- */
.banner_nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	background: #ffffff;
	box-shadow: 0px 5px 4px 0px rgba(18, 18, 18, 0.03);
	position: relative;
	z-index: 99;
}

.banner_nav_item {
	width: 260px;
	height: 40px;
	border-right: 1px solid #eef2f7;
	padding-left: 50px;
}
.banner_nav_item:first-child {
	padding-left: 0;
}
.banner_nav_item:last-child {
	border-right: none;
}
.banner_nav_item_top {
	display: flex;
	align-items: center;
}
.banner_nav_item_top img {
	width: 18px;
	height: 18px;
	margin-right: 6px;
}
.banner_nav_item_title {
	font-weight: 400;
	font-size: 14px;
	color: #333333;
	line-height: 14px;
}
.banner_nav_item_text {
	font-weight: 400;
	font-size: 12px;
	color: #666666;
	line-height: 12px;
	margin-top: 9px;
}
.dylv_title {
	padding: 50px 0 50px;
	text-align: center;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 36px;
	color: #333333;
	line-height: 36px;
}
.dytg_ktfw_btn {
	width: 462px;
	height: 70px;
	background: #366efb;
	border-radius: 18px;
	font-weight: 400;
	font-size: 22px;
	color: #ffffff;
	cursor: pointer;
	text-align: center;
	line-height: 70px;
	margin: auto;
	margin-top: 50px;
	transition: all 0.3s;
	letter-spacing: 8px;
}
.dytg_ktfw_btn:hover {
	transform: scale(1.05);
}
/* ------------------------- */
.dylv_box1 {
	width: 100%;
	height: 790px;
	background: linear-gradient(180deg, #f9fbff 0%, #eef5fc 100%);
	padding-top: 50px;
	box-sizing: border-box;
}
.dylv_box1_nav {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.dylv_box1_nav_item {
	width: 386px;
	height: 110px;
	background: #ecf4ff;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
	box-sizing: border-box;
	cursor: pointer;
}
.dylv_box1_nav_item img {
	width: 54px;
	height: 54px;
	margin-right: 6px;
}
.dylv_box1_nav_item_title {
	font-weight: bold;
	font-size: 18px;
	color: #333333;
	line-height: 18px;
}
.dylv_box1_nav_item_text {
	font-weight: 400;
	font-size: 14px;
	color: #666666;
	line-height: 16px;
	margin-top: 10px;
}
.dylv_box1_nav_item_btn {
	width: 100px;
	height: 40px;
	background: #1966ff;
	border-radius: 6px;
	font-weight: 400;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	line-height: 40px;
	flex-shrink: 0;
	margin-left: 10px;
}
.dylv_box1_list {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.dylv_box1_item {
	width: 279px;
	height: 330px;
	background: #ffffff;
	box-shadow: 0px 0px 12px 0px rgba(4, 0, 0, 0.06);
	border-radius: 16px;
	border: 1px solid #fff;
	box-sizing: border-box;
}
.dylv_box1_item_top {
	width: 100%;
	height: 80px;
	background: #e6f2ff;
	border-radius: 16px 16px 0px 0px;
	padding: 0 16px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
.dylv_box1_item_top img {
	width: 80px;
	height: 80px;
	margin-right: 20px;
	margin-top: -15px;
}
.dylv_box1_item_title {
	font-weight: 400;
	font-size: 24px;
	color: #3475fc;
}
.dylv_box1_item_list {
	padding: 0 20px;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.dylv_box1_item_list_item {
	width: 100%;
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 17px;
	color: #333333;
	margin-bottom: 30px;
	line-height: 18px;
}
.dylv_box1_item_list_item:last-child {
	margin-bottom: 0;
}
.dylv_box1_item_list_item img {
	margin-right: 10px;
	width: 21px;
	height: 15px;
}
/* --------------------- */
.dylv_box2 {
	width: 100%;
	height: 770px;
	overflow: hidden;
	background-image: url(../image/bg.png);
	background-size: 100% 100%;
}
.dylv_box2_list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 1200px;
}
.dylv_box2_list_item {
	width: 288px;
	height: 104px;
	background: #ffffff;
	border-radius: 12px;
	border: 1px solid #ededed;
	display: flex;
	align-items: center;
	padding: 0 14px;
	box-sizing: border-box;
	margin-right: 16px;
	margin-bottom: 16px;
	flex-shrink: 0;
}
.dylv_box2_list_item:nth-of-type(4n) {
	margin-right: 0;
}
.dylv_box2_list_item img {
	width: 42px;
	height: 42px;
	margin-right: 16px;
}
.dylv_box2_list_item_title {
	font-weight: bold;
	font-size: 16px;
	color: #333333;
	margin-bottom: 10px;
}
.dylv_box2_list_item_text {
	font-weight: 400;
	font-size: 13px;
	color: #666666;
}
/* --------------------- */
.dylv_box3 {
	height: 855px;
	background: #f0f6ff;
}
.dylv_box3_list {
	width: 1200px;
	background: #ffffff;
	border-radius: 12px;
	margin: 0 auto;
	padding: 40px 20px;
}
.dylv_box3_item {
	display: flex;
	margin-bottom: 25px;
}
.dylv_box3_item:last-child {
	margin-bottom: 0;
}
.dylv_box3_item_icon {
	width: 23px;
	height: 23px;
	background: #366efb;
	border-radius: 4px;
	margin-right: 10px;
	text-align: center;
	line-height: 23px;
	flex-shrink: 0;
	font-weight: 400;
	font-size: 16px;
	color: #ffffff;
}
.dylv_box3_item_title {
	font-weight: 500;
	font-size: 18px;
	color: #333333;
	line-height: 18px;
	margin-bottom: 20px;
	padding-top: 3px;
}
.dylv_box3_item_text {
	font-weight: 400;
	font-size: 16px;
	color: #666666;
}
/* --------------------- */
.dylv_box4 {
	width: 100%;
	height: 727px;
	background: #f3f8ff;
}

.wzck_tmdzy_box {
	width: 200px;
	height: 200px;
	padding-top: 30px;
}

.wzck_tmdzy_box_hover {
	padding-top: 10px;
}

.wzck_tmdzy_box_hover_i {
	width: 130px;
	height: 130px;
}

.wzck_tmdzy_box_hover_t {
	margin-top: 20px;
}

.wzck_tmdzy_box_img {
	width: 67px;
	height: 67px;
	border-radius: 50%;
}

.wzck_tmdzy_box_bg {
	width: 26px;
	height: 2px;
	background: #ff824a;
	margin-top: 22px;
}

.wzck_tmdzy_box_name {
	width: 100%;
	margin-top: 30px;
}
/* --------------------- */
.dytg_showModal_bg {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
	align-items: center;
	justify-content: center;
}
.dytg_showModal_box {
	width: 970px;
	height: 660px;
	background: #ffffff;
	border-radius: 8px;
	display: flex;
	position: relative;
}
.dytg_showModal_box_left {
	width: 390px;
	height: 660px;
	background: url(../image/bg1.png) no-repeat;
	background-size: 100% 100%;
}
.dytg_showModal_box_left_title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 26px;
	color: #333333;
	margin-top: 65px;
	height: 30px;
	line-height: 30px;
}
.dytg_showModal_box_left_title span {
	color: #366efb;
}
.dytg_showModal_box_left_title img {
	width: 30px;
	height: 30px;
	margin-right: 6px;
}
.dytg_showModal_box_left_title_tag {
	width: 45px;
	height: 26px;
	background: #e2eaff;
	border-radius: 4px;
	font-weight: 400;
	font-size: 16px;
	color: #366efb;
	margin-left: 6px;
	text-align: center;
	line-height: 26px;
}
.dytg_showModal_box_left_list {
	margin-top: 80px;
	padding-left: 32px;
	box-sizing: border-box;
}
.dytg_showModal_box_left_list_item {
	display: flex;
	align-items: center;
	margin-bottom: 60px;
}
.dytg_showModal_box_left_list_item:last-child {
	margin-bottom: 0;
}
.dytg_showModal_box_left_list_item img {
	width: 46px;
	height: 46px;
	margin-right: 18px;
}
.dytg_showModal_box_left_list_item_title {
	font-weight: bold;
	font-size: 16px;
	color: #333333;
	line-height: 16px;
}
.dytg_showModal_box_left_list_item_text {
	font-weight: 400;
	font-size: 14px;
	color: #666666;
	line-height: 14px;
	margin-top: 14px;
}
.dytg_showModal_box_right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
}
.dytg_showModal_box_right_title {
	font-weight: 400;
	font-size: 24px;
	color: #333333;
	line-height: 24px;
	margin-bottom: 35px;
}
.dytg_showModal_box_right_item {
	width: 520px;
	height: 124px;
	background: #f5f9ff;
	border-radius: 12px;
	margin-bottom: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	box-sizing: border-box;
	cursor: pointer;
}
.dytg_showModal_box_right_item_title {
	display: flex;
	align-items: center;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	color: #333333;
}
.dytg_showModal_box_right_item_title img {
	width: 25px;
	height: 25px;
	margin-right: 10px;
}
.dytg_showModal_box_right_item_text {
	font-weight: 400;
	font-size: 14px;
	color: #666666;
	margin-top: 15px;
}
.dytg_showModal_box_right_item_btn {
	width: 114px;
	height: 40px;
	background: #366efb;
	border-radius: 6px;
	font-weight: 400;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	line-height: 40px;
}
/* --------------------- */
